@import "tailwindcss";

@theme {
    /* color */
    --color-orange: #E4925C;
    --color-blue: #25559D;
    --color-white: #f7f7f7;
    --color-black: #505050;
    --color-beige: #EEE0CC;

    /* spacing */
    --space-1: 4px;
    --space-2: 8px;
    --space-2-5: 10px;
    --space-3: 12px;
    --space-3-5: 15px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --space-7: 28px;

    /* font */
    --font:"Kiwi Maru", serif; 

    --font-h1: 26px;
    --font-h2: 24px;
    --font-h2-medium: 24px;
    --font-h3: 22px;
    --font-h4: 20px;
    --font-p: 16px;
    --font-small: 12px;
}
.h1 {
  font-family: var(--font);
  font-size: var(--font-h1);
}
.h2 {
  font-family: var(--font);
  font-size: var(--font-h2);
}
.h2-bold {
  font-family: var(--font);
  font-size: var(--font-h2-medium);
  font-weight: bold;
}
.h3 {
  font-family: var(--font);
  font-size: var(--font-h3);
}
.h4 {
  font-family: var(--font);
  font-size: var(--font-h4);
}
.p {
  font-family: var(--font);
  font-size: var(--font-p);
}
.small {
  font-family: var(--font);
  font-size: var(--font-small);
}